/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import 'scss/bootstrap/bootstrap';
//
//html, body {
//  height: 100%;
//}
//
//body {
//  margin: 0;
//  font-family: Roboto, "Helvetica Neue", sans-serif;
//}

::ng-deep .full-screen-dialog .mat-dialog-container {
  width: 100% !important;
  height: 100% !important;
  padding: 16px;
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?Roboto&display=swap');

.btn-custom {
  cursor: pointer;
  border: 0px solid rgb(187, 204, 0);
  font-family: "system-ui";
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding: 3px 30px;
  transition: 0.5s;
  width: 100px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  background-color: rgb(114, 133, 153) !important;
}


.btn-custom:hover {
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid black;
}




