/* General Colors*/
$colorAmber: #F0B71C;
$colorRed: #FF0000;
$colorGreen: #49BF26;
$colorOrange: #FF9160;
$colorLightGrey: #F8F8F8;
$colorDDD: #DDDDDD;
$colorCCC: #CCCCCC;
$colorGrey: #BCBCBC;
$colorDarkGrey: #898A8B;
$colorBlue: #2B388F;
$colorDarkBlue: #171f53;
$colorWhite: #FFFFFF;
$colorLightPurple: #F0F2F8;
$colorBlack: #000000;
$colorBeige: #F9EFE4;
$colorVoilet: #EEEEFF;
$colorBlackBlue: #091033;
$colorPDFBg: #323639;
$colorShockBlue: #5A75FF;
